{% extends "layouts/base.html" %} {% block content %}
<div class="mainwrapper">
  <div class="album-art-wrapper">
    <img
      src="images/IMG_9349.JPG"
      width="150"
      sizes="150px"
      srcset="images/IMG_9349-p-500.jpeg 500w, images/IMG_9349.JPG 750w"
      alt=""
      class="image-16"
    />
  </div>
  <div class="div-block-21">
    <h1 class="heading-12">@rheishaa</h1>
    <div class="underline"></div>
  </div>
  <div class="div-block-20">
    <a href="index.html" class="link-block-5 w-inline-block">
      <div class="text-block-8">RheeTV</div>
    </a>
  </div>
  <div class="div-block-20">
    <a
      href="https://kazifm.org/"
      target="_blank"
      class="link-block-5 w-inline-block"
    >
      <div class="text-block-8">KAZI</div>
    </a>
  </div>
  <div class="div-block-17">
    <a
      href="mailto:rheishashol@gmail.com ?subject=Hey%20Girl!"
      class="link-block-5 w-inline-block"
    >
      <div class="text-block-8">Email me</div>
    </a>
  </div>
  <div class="div-block-17">
    <a
      href="https://www.facebook.com/rheisha.shol"
      target="_blank"
      class="link-block-5 w-inline-block"
    >
      <div class="text-block-8">Facebook</div>
    </a>
  </div>
  <div class="div-block-17">
    <a
      href="https://www.youtube.com/channel/UCeeATT5xzY5dclqX43nUaQA?view_as=subscriber"
      target="_blank"
      class="link-block-5 w-inline-block"
    >
      <div class="text-block-8">YouTube</div>
    </a>
  </div>
  <div class="div-block-17"></div>
</div>
{% endblock %}
