<!-- mobile header modal -->

<div class="modal-wrapper" data-ix="modal">
  <div class="menu-wrapper w-hidden-main">
    <a href="#" class="w-inline-block" data-ix="new-interaction"
      ><img src="/images/cancel.png" width="35" alt="" data-ix="close-sign"
    /></a>
    <a href="/" class="nav-link-modal w--current" data-ix="mobile-nav-links"
      >Home</a
    >
    {% for item in navigation.items %}
    <a href="{{ item.url }}" class="nav-link-modal" aria-current="page"
      >{{ item.text }}</a
    >
    {% endfor %}
  </div>
</div>

<!-- desktop header -->

<div
  data-collapse="medium"
  data-animation="default"
  data-duration="400"
  data-easing="ease"
  data-easing2="ease"
  role="banner"
  class="navbar w-nav"
>
  <a href="/" class="my-logo w-nav-brand"
    ><img
      src="/images/logowhiteRheeTV1.png"
      width="65"
      srcset="
        /images/logowhiteRheeTV1-p-500.png 500w,
        /images/logowhiteRheeTV1.png       746w
      "
      alt=""
      sizes="65px"
      class="image-8"
      data-ix="logo-hover"
  /></a>
  <a href="#" class="button-3 w-hidden-main w-button" data-ix="mobile-menu"></a>
  <nav role="navigation" class="w-nav-menu">
    <div class="w-nav-button">
      <div class="w-icon-nav-menu"></div>
    </div>
    {% for item in navigation.items %}
    <a href="{{ item.url }}" class="nav-link w-nav-link">{{ item.text }}</a>
    {% endfor %}
  </nav>
</div>
